@font-face {
    font-family: 'EnchantedLand';
    src: url('/com/montaury/citadels/interfaceAssets/fonts/Enchanted_Land.otf');
}


.inputText{
    -fx-font-size: 20px;
    -fx-font-family: 'Times New Roman' ;
}

.button{
    -fx-background-image: url(com/montaury/citadels/interfaceAssets/buttons/buttonLong_beige.png);
    -fx-background-color: transparent;
    -fx-pref-height: 49;
}

.button-selected{
    -fx-background-image: url(com/montaury/citadels/interfaceAssets/buttons/buttonLong_beige_pressed.png);
    -fx-background-color: transparent;
    -fx-pref-height: 45;
}